<!doctype html>
<html>
<head>{% include 'header.html'%}
</head>
<body>
	{% include 'menu.html'%}
	<div class="row">
		<div class="span12 centered">
			<h2>Área administrativa</h2>
			<div class="breaker">
				<span class="left"></span>
				<div class="feather"></div>
				<span class="right"></span>
			</div>
		</div>
	</div>

	<p>Bem vindo {{usuarioLogado}}</p>

	<div class="row">
		<div class="span6">
			<div class="box">
				<div class="box_icon">
					<i class="icon-code icon-3x"></i>
				</div>
				<h6>
					<strong>Relação Participantes Inscritos</strong>
				</h6>
			</div>
		</div>
		<div class="span6">
			<div class="box">
				<div class="box_icon">
					<i class="icon-pencil icon-3x"></i>
				</div>
				<h6>
					<strong>Relação Servos Inscritos</strong>
				</h6>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<div class="box">
				<div class="box_icon">
					<i class="icon-keyboard icon-3x"></i>
				</div>
				<h6>
					<strong>Imprimir Crachá</strong>
				</h6>
			</div>
		</div>
		<div class="span6">
			<div class="box">
				<div class="box_icon">
					<i class="icon-camera icon-3x"></i>
				</div>
				<h6>
					<strong>Imprimir Relatórios</strong>
				</h6>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<table>
				<tr>
					<th>Nome</th>
					<th>Telefone Celular 1</th>
					<th>E-mail</th>
				</tr>
			</table>
		</div>
	</div>

	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>