<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	<!-- HEADER HOME  -->
	{% include 'home.html'%}
	<!-- END HEADER HOME  -->

	<!-- NAVIGATION  -->
	{% include 'menu.html'%}
	<!-- END NAVIGATION  -->

	<!-- ACAMPAMENTO SECTION  -->
	{% include 'oacampamento.html'%}
	<!-- END ACAMPAMENTO SECTION  -->

	<!-- ENTREVISTAS SECTION  -->
<!-- 	{% include 'entrevistas.html'%} -->
	<!-- END ENTREVISTAS SECTION  -->

	<!-- FOTOSVIDEOS SECTION  -->
	{% include 'fotosvideos.html'%}
	<!-- END FOTOSVIDEOS  -->

	<!-- INSCRICAO SECTION  -->
	{% include 'inscricao.html'%}
	<!-- END INSCRICAO SECTION  -->

	<!-- QUELEVAR SECTION  -->
	{% include 'oquelevar.html'%}
	<!-- END QUELEVAR SECTION  -->

	<!-- ADOTEJOVEM SECTION  -->
	{% include 'adoteumjovem.html'%}
	<!-- END ADOTEJOVEM SECTION  -->

	<!-- CONTACTO SECTION  -->
	{% include 'contato.html'%}
	<!-- END CONTACTO SECTION  -->

	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>
