<!doctype html>
<html>
<head>{% include 'header-reports.html'%}
</head>
<body>
	<img src="img/logo_small.png">
	<h2 align="center">Lista de Participantes</h2>

	<div class="container">

		<div>
			<div>
				<div class="tabela">
					<table>
						<tr>
							<td>Nome</td>
							<td>Email</td>
							<td>Celular</td>
						</tr>
						{% for participante in participantes %}
						<tr>
							<td>{{ participante.nome }}</td>
							<td>{{ participante.email }}</td>
							<td>{{ participante.telCelular1 }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td>TOTAL</td>
							<td></td>
							<td>{{ total }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>