<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	<!-- NAVIGATION  -->
	{% include 'menu.html'%}
	<!-- END NAVIGATION  -->
	<div class="container">
		<div class="row">
			<div class="span12 centered">
				<h2>ATENÇÃO! Inscrição de serviço</h2>
				<div class="breaker">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<p align="justify">Se desejar servir no Acamps2015 fique atento às orientações:</p>				
				<ol>
					<li>Procurar o Coordenador da Equipe que deseja Servir e se colocar a disposição</li>
					<li>Efetuar a Inscrição após o “De acordo” do Coordenador</li>
					<li>Aguardar aprovação da sua Inscrição</li>
					<li>Efetuar Pagamento</li>
				</ol>
				<p align="justify">Obs.: Há somente 120 vagas para o Serviço Acamp's Rio 2015</p>
			</div>
		</div>
		<div class="row">
			<div class="span8">
			</div>
			<div class="span4">
				<p align="justify">Ok. Já segui os passos acima e quero me inscrever.</p>
				<a class="btn btn-success btn-block btn-large" href="/inscricaoServico">
      				Servos
    			</a>
    			<br>
    			<br>
			</div>
		</div>
	</div>
	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>