<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	<!-- NAVIGATION  -->
	{% include 'menu.html'%}
	<!-- END NAVIGATION  -->
	<div class="container">
		<div class="row">
			<div class="span12 centered">
				<h2>ATENÇÃO! Inscrição de serviço</h2>
				<div class="breaker">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<p align="justify">Se desejar servir no Acamps2015 fique atento às orientações:</p>				
				<ol>
					<li>Procurar o Coordenador da Equipe que deseja Servir e se colocar a disposição</li>
					<li>Efetuar a Inscrição após o “De acordo” do Coordenador</li>
					<li>Aguardar aprovação da sua Inscrição</li>
					<li>Efetuar Pagamento</li>
				</ol>
				<p align="justify">Equipes e Coordenadores</p> 
				<ul>
					<li><b>Alojamentos</b> - Dayene Ferdan e Bernardo</li>
					<li><b>Apoio</b> - Guilherme Bola</li>
					<li><b>Artes</b> - A definir</li>
					<li><b>Comunicação</b> - Igor Araujo</li>
					<li><b>Estrutura</b> - Guilherme Bola</li>
					<li><b>Intercessão</b> - Raquel (CV - Postulante)</li>
					<li><b>Lanchonete</b> - Bruna (CV Postulante)</li>
					<li><b>Lazer</b> - Mariana Moreth</li>
					<li><b>Limpeza</b> - Clara Rufino</li>
					<li><b>Liturgia</b> - Jefferson</li>
					<li><b>Musica</b> - Erlison Galvão</li>
					<li><b>Oração e Aconselhamento</b> -  Anderson Theodoro</li>
					<li><b>Ordem</b> - Cleiton Ramos e Mariana Galdino</li>
					<li><b>Servos de Seminário</b> - Anderson Theodoro</li>
				</ul>
				<p align="justify">Obs.: Há somente 120 vagas para o Serviço Acamp's Rio 2015</p>
			</div>
		</div>
		<div class="row">
			<div class="span8">
			</div>
			<div class="span4">
				<p align="justify">Ok. Já segui os passos acima e quero me inscrever.</p>
				<a class="btn btn-success btn-block btn-large" href="/inscricaoServico">
      				Servos
    			</a>
    			<br>
    			<br>
			</div>
		</div>
	</div>
	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>