<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	<!-- NAVIGATION  -->
	{% include 'menu.html'%}
	<!-- END NAVIGATION  -->
	<div class="container">
		<div class="row">
			<div class="span12 centered">
				<h2>ATENÇÃO! Inscrição de servos</h2>
				<div class="breaker">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<p align="justify">Se desejar servir no Acamps2016 fique atento às orientações:</p>				
				<ol>
					<li>Procurar o Coordenador da Equipe que deseja Servir e se colocar a disposição</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>