<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	{% include 'menu.html'%}

	<section id="realizarPagamento">
		<div class="container">

			<div class="row">
				<div class="span12 centered">
					<h2>Parabéns!!! Você está a um passo para servir no Acamp's
						Rio 2014</h2>
					<div class="breaker">
						<span class="left"></span>
						<div class="feather"></div>
						<span class="right"></span>
					</div>
				</div>

				<p align="justify">Para realizar o pagamento utilize uma das
					seguintes formas:</p>
				<ul>
					<li>Dinheiro/Cheque - Diretamente na Comunidade Católica
						Shalom</li>
					<li>Pagseguro em até 10 vezes no cartão (R$ 150,00 + R$ 7,90
						de taxa Pagseguro totalizando R$ 157,90)</li>
				</ul>

				<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
				<form target="pagseguro"
					action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add"
					method="post">
					<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
					<input type="hidden" name="itemCode"
						value="6F17C057B1B1B3ECC4D7DF8909CA0070" />
					<input type="image"
						src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif"
						name="submit"
						alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
				</form>
				<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

			</div>
		</div>

	</section>

	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>