<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	{% include 'menu.html'%}

	<section id="realizarPagamento">
		<div class="container">

			<div class="row">
				<div class="span12 centered">
					<h2>Parabéns!!! Você está a um passo do Acamp's Rio 2016</h2>
					<div class="breaker"></div>
				</div>

				{% include 'informacoesPagamento.html'%}

				<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
				<form
					action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add"
					method="post" onsubmit="PagSeguroLightbox(this); return false;">
					<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
					<input type="hidden" name="itemCode"
						value="9D755FEF8E8E7783343A1FB31A3B5CD9" /> <input type="image"
						src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif"
						name="submit"
						alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
				</form>
				<script type="text/javascript"
					src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
				<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

			</div>
		</div>

	</section>

	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>