<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	{% include 'menu.html'%}

	<section id="realizarPagamento">
		<div class="container">

			<div class="row">
				<div class="span12 centered">
					<h2>Parabéns!!! Você está a um passo para servir no Acamp's
						Rio 2014</h2>
					<div class="breaker">
						<span class="left"></span>
						<div class="feather"></div>
						<span class="right"></span>
					</div>
				</div>

				<p>Para realizar o pagamento utilize uma das seguintes formas:</p>
				<br />
				<p>- Dinheiro/Cheque (Diretamente na Comunidade Católica Shalom)</p>
				<p>- Pagseguro (Em até 10 vezes no cartão)</p>

				<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
				<form target="pagseguro"
					action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add"
					method="post">
					<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
					<input type="hidden" name="itemCode"
						value="F0EEA5A3DEDEBACAA40CDFACC4A1E410" />
					<input type="image"
						src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-assina.gif"
						name="submit"
						alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
				</form>
				<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

			</div>
		</div>

	</section>

	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>