<!doctype html>
<html lang="pt-br">
<head>{% include 'header.html'%}
</head>
<body>
	{% include 'menu.html'%}

	<section id="realizarPagamento">
		<div class="container">

			<div class="row">
				<div class="span12 centered">
					<h2>Parabéns!!! Você está a um passo do Acamp's Rio 2015</h2>
					<div class="breaker">
					</div>
				</div>

				{% include 'informacoesPagamento.html'%}

				<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
				<form
					action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add"
					method="post">
					<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
					<input type="hidden" name="itemCode"
						value="CA6C537BFDFD513004C36F9904EEC35A" /> <input type="image"
						src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-pagar-assina.gif"
						name="submit"
						alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
				</form>
				<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

			</div>
		</div>

	</section>

	<!-- FOOTER  -->
	{% include 'footer.html'%}
	<!-- END FOOTER -->
</body>
</html>